body{
  background:black;
} 
.node {
    cursor: pointer;
  }

  .overlay{
      background-color:black;
  }
   
  .node circle {
    fill: #fff;
    stroke: white;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
    fill:white;
    letter-spacing:.3em;
    
  }
  
  .link {
    fill: none;
    stroke: green;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }